<%= form_with model: [@topic, @comment] do |form| %>
  <div class="form-group">
    <%= form.text_area :content, class: 'form-control' %>
    <%= form.hidden_field :topic_id, :value => params[:topic_id] %>
  </div>
  <%= form.submit 'コメント投稿', class: 'btn btn-block btn-black' %>
<% end %>