<div class="topic-edit-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-8 col-10">
        <h1 class="text-center">投稿編集</h1>
        
        <%= render "form" %>
         
      </div>
    </div>
  </div>
</div>