<div class="top-hero-wrapper">
  <div class="container top-hero-container">
    <h1>Movienglish</h1>
    <h2>映画で英語を勉強しよう</h2>
    <% if logged_in? %>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-8 col-10">
          <%= link_to 'みんなの投稿を見てみよう', topics_path, class: 'btn btn-block btn-black' %>
        </div>
      </div>
    <% else %>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-4 col-5">
          <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-black' %>
        </div>
        <div class="col-lg-3 col-sm-4 col-5">
          <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-black' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

