h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

.top-hero-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FFB6C1;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  padding-top: 120px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FFFFE0;

  .users-new-container {
    padding-top: 150px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.sessions-new-wrapper {
  padding-top: 120px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FFFFE0;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.user-show-wrapper {
  padding-top: 120px;
  background-color: #E6E6FA;
  min-width: 100vw;
  min-height: 100vh;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }  
  
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.btn-black {
  color: #000000;
  border: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #FFFF00;
  }
}

.topic-new-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #00FF7F;
}

.topic-edit-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #00FA9A;
}

.topic-index-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #00FFFF;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .favorite-icon {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
    
    .favorite-icon-red {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: red;
    }
    
    .comment-icon {
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
  }
}

.comment-new-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #F08080;
}

.comment-edit-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #FA8072;
}

.topic-search-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #DEB887;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .favorite-icon {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: #000000;
    }
    
    .favorite-icon-red {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: #FF0000;
    }
    
    .comment-icon {
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      color: #000000;
    }
  }
}