h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: rgb(255,0,0);
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('toppage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('toppage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.user-show-wrapper {
  padding-top: 70px;
  background-color: #E6E6FA;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }  
  
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.navbar-brand {
  padding: 0px;
  margin-top: 15px;
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-edit-wrapper {
  padding-top: 120px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .favorite-icon {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
    
    .favorite-icon-red {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: red;
    }
    
    .comment-icon {
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
  }
}

.comment-new-wrapper {
  padding-top: 120px;
}

.comment-edit-wrapper {
  padding-top: 120px;
}

.topic-search-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-title {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .favorite-icon {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
    
    .favorite-icon-red {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: red;
    }
    
    .comment-icon {
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      color: black;
    }
  }
}